body{
    background-color : #2c3e50;
}

.btn {
    cursor : pointer;
}

body {
    color : white;
}

.clicked {
    color : #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing{
    display: block;
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index : -1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}